name: Deploy to S3 with Quarto

on:
  push:
    - main
  schedule:
    - cron: '0 8 * * 1'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: quarto-dev/quarto-actions/setup@v2

    - uses: r-lib/actions/setup-r@v2

    - uses: r-lib/actions/setup-renv@v2

    - uses: quarto-dev/quarto-actions/render@v2

    - name: Setup MinIO client
      uses: lovellfelix/minio-deploy-action@v1
      with:
        endpoint: https://s3.embl.de/
        access_key: 4kRFKz352s8UbsA6Pycq
        secret_key: ${{ secrets.MINIO_SECRET_KEY }}
        bucket: 'www-huber'
        target_dir: '/group/'
        source_dir: '_site'
